
*.DS_Store
*.dcf

module2/Ignore
module2/export
module2/nyc_pluto_17v1_1.zip
module2/nyc_pluto_18v2_csv.zip
module2/nyc_pluto_18v2_csv/pluto_18v2.csv
module2/.ipynb_checkpoints
module2/*.html

module3/Ignore

module4/Ignore
module4/.ipynb_checkpoints
module4/*.html